* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

.answer-list {
  padding: 10px;
  list-style: upper-alpha;
  margin-bottom: 3rem;
}

.answer-list button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
}

.bold {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  text-align: center;
}

.container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container h2 {
  font-size: 2rem;
}

.correct {
  background-color: #28a745;
  color: white;
}


.flokkar {
  margin: 10px 0;
}

.flokkar a {
  display: block;
  background: #007bff;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.flokkar a:hover {
  background: #0056b3;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.incorrect {
  background-color: #dc3545;
  color: white;
}

.question {
  font-size: 1.2em;
}

.question-list {
  padding: 2rem;
  text-align: left;
}

.question-list li::marker {
  font-size: 1.5rem; /* Stækkar númerin */
  font-weight: bold; /* Gerir þau feitletruð */
  color: black; /* Stillir litinn */
}

.answer-list li::marker {
  font-size: 1rem;
  font-weight: normal;
}

.tilbaka {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}


/* Aðlögun fyrir minni skjái */
@media (width <= 600px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .flokkar a {
    padding: 8px;
    font-size: 0.9rem;
  }

  .answer-list button {
    font-size: 0.9rem;
    padding: 8px;
  }
}

/* Aðlögun fyrir stærri skjái */
@media (width <= 1024px) {
  .container {
    max-width: 900px;
  }

  .flokkar a {
    font-size: 1.1rem;
  }
}