
<p class="bold">Svarmöguleikar:</p>
<ol class="answer-list">
    <li>
        <button>Svar1</button>
        <button>Svar2</button>
        <button>Svar3</button>
        <button>Svar4</button>
    </li>
</ol>